h1 {
  font-size: 150px;
  font-family: "Times New Roman", Times, serif;
  font-weight: 10;
}

.wedding-invite-box {
  margin-top: 100px;
}
.wedding-invite {
  width: 530px;
  border-radius: 20px;
  text-align: center;
  display: block;
  margin: 0 auto;
  margin-bottom: 50px;
}

.container-all-content {
  display: block;
  text-align: center;
}
