.container {
  display: block;
  margin: 0 auto;
  text-align: center;
}

.wedding-invite {
  min-width: 500px;
  margin-left: 100px;
  margin-top: 70px;
  border-radius: 20px;
  text-align: center;
}

.text-next-to-image {
  width: 70vh;
  margin-left: 100px;
}
.huy-anne-bilde {
  width: 77vh;
  margin-left: 115px;
  margin-top: 70px;
  margin-right: 50px;
  border-radius: 20px;
}
